div(ng-include="'app/views/base.html'")
div(id="all")
  div(id="content")
    .container
        .col-md-12
          ul.breadcrumb
            li
              a(ui-sref='home') Home
            li {{productCtrl.product.name}}
        .col-md-9
          #productMain.row
            .col-sm-6
              #mainImage
                img.img-responsive(ng-src='{{productCtrl.product.img1}}', alt='')
              .ribbon.sale
                .theribbon SALE
                .ribbon-background
              // /.ribbon
              .ribbon.new
                .theribbon NEW
                .ribbon-background
              // /.ribbon
            .col-sm-6
              .box
                h1.text-center {{productCtrl.product.name}}
                p.goToDescription
                  a.scroll-to(href='#details') Ver detalhes, tamanhos e outras informações.
                p.price {{productCtrl.formatMoney(productCtrl.product.price)}}
                p.text-center.buttons
                  a.btn.btn-primary(href='basket.html' ui-sref="addToCart({productId: productCtrl.product.id, quantity: 1})")
                    i.fa.fa-shopping-cart
                    |  Adicionar ao Carrinho
                  //- a.btn.btn-default(href='basket.html')
                  //-   i.fa.fa-heart
                  //-   |  Adicionar à lista de desejos
              //- #thumbs.row
              //-   .col-xs-4
              //-     a.thumb(href='img/detailbig1.jpg')
              //-       img.img-responsive(ng-src='{{productCtrl.product.img1}}', alt='')
                //- .col-xs-4
                //-   a.thumb(href='img/detailbig2.jpg')
                //-     img.img-responsive(src='img/detailsquare2.jpg', alt='')
                //- .col-xs-4
                //-   a.thumb(href='img/detailbig3.jpg')
                //-     img.img-responsive(src='img/detailsquare3.jpg', alt='')
          #details.box
            p
            h4 Descrição
            p
              | {{productCtrl.product.description}}
            h4 Tamanho
            ul
              li {{productCtrl.product.size}}
            
            blockquote
              p
                em
                  | {{productCtrl.product.description}}
            hr
            .social
              h4 Compartilhe
              p
                a.external.facebook(href='#', data-animate-hover='pulse')
                  i.fa.fa-facebook
                a.external.gplus(href='#', data-animate-hover='pulse')
                  i.fa.fa-google-plus
                a.external.twitter(href='#', data-animate-hover='pulse')
                  i.fa.fa-twitter
                a.email(href='#', data-animate-hover='pulse')
                  i.fa.fa-envelope
          //- .row.same-height-row
          //-   .col-md-3.col-sm-6
          //-     .box.same-height
          //-       h3 You may also like these products
          //-   .col-md-3.col-sm-6
          //-     .product.same-height
          //-       .flip-container
          //-         .flipper
          //-           .front
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product2.jpg', alt='')
          //-           .back
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product2_2.jpg', alt='')
          //-       a.invisible(href='detail.html')
          //-         img.img-responsive(src='img/product2.jpg', alt='')
          //-       .text
          //-         h3 Fur coat
          //-         p.price $143
          //-     // /.product
          //-   .col-md-3.col-sm-6
          //-     .product.same-height
          //-       .flip-container
          //-         .flipper
          //-           .front
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product1.jpg', alt='')
          //-           .back
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product1_2.jpg', alt='')
          //-       a.invisible(href='detail.html')
          //-         img.img-responsive(src='img/product1.jpg', alt='')
          //-       .text
          //-         h3 Fur coat
          //-         p.price $143
          //-     // /.product
          //-   .col-md-3.col-sm-6
          //-     .product.same-height
          //-       .flip-container
          //-         .flipper
          //-           .front
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product3.jpg', alt='')
          //-           .back
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product3_2.jpg', alt='')
          //-       a.invisible(href='detail.html')
          //-         img.img-responsive(src='img/product3.jpg', alt='')
          //-       .text
          //-         h3 Fur coat
          //-         p.price $143
          //-     // /.product
          //- .row.same-height-row
          //-   .col-md-3.col-sm-6
          //-     .box.same-height
          //-       h3 Products viewed recently
          //-   .col-md-3.col-sm-6
          //-     .product.same-height
          //-       .flip-container
          //-         .flipper
          //-           .front
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product2.jpg', alt='')
          //-           .back
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product2_2.jpg', alt='')
          //-       a.invisible(href='detail.html')
          //-         img.img-responsive(src='img/product2.jpg', alt='')
          //-       .text
          //-         h3 Fur coat
          //-         p.price $143
          //-     // /.product
          //-   .col-md-3.col-sm-6
          //-     .product.same-height
          //-       .flip-container
          //-         .flipper
          //-           .front
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product1.jpg', alt='')
          //-           .back
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product1_2.jpg', alt='')
          //-       a.invisible(href='detail.html')
          //-         img.img-responsive(src='img/product1.jpg', alt='')
          //-       .text
          //-         h3 Fur coat
          //-         p.price $143
          //-     // /.product
          //-   .col-md-3.col-sm-6
          //-     .product.same-height
          //-       .flip-container
          //-         .flipper
          //-           .front
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product3.jpg', alt='')
          //-           .back
          //-             a(href='detail.html')
          //-               img.img-responsive(src='img/product3_2.jpg', alt='')
          //-       a.invisible(href='detail.html')
          //-         img.img-responsive(src='img/product3.jpg', alt='')
          //-       .text
          //-         h3 Fur coat
          //-         p.price $143


div(ng-include="'app/views/footer.html'")