div(ng-include="'app/views/base.html'")
div(id="all")
  div(id="content")
    .container(ng-if='productCtrl.hasProducts == true')
        .col-md-3(ng-repeat="product in productCtrl.productList")
          .item(ui-sref="productDetail({productId: product.id})")
            .flip-container
              .flipper
                .front
                  a(href='detail.html')
                    img.img-responsive(ng-src = '{{product.img1}}', alt='')
                .back
                  a(href='detail.html')
                    img.img-responsive(ng-src = '{{product.img2}}', alt='')
            a.invisible(href='detail.html')
              img.img-responsive(ng-src = '{{product.img3}}', alt='')
            .text
              h3
                a(href='detail.html') {{product.name}}
              p.price R$ {{product.price}}
      .container(ng-if='productCtrl.hasProducts == false')
        .col-md-12
          div(id="productNotFound")
            h2 OPS! O ITEM PROCURADO NÃO PODE SER ENCONTRADO.
            p Verifique se você difitou as palavras corretamente ou tente novamente a busca.

            h2 Dicas
            p - Verifique se não há erro de digitação.
            p - Tente utilizar uma única palavra.
            p - Tente buscar por temas menos específicos e posteriormente use os filtros de busca.
            p - Procure utilizar sinônimos ao termo desejado.


div(ng-include="'app/views/footer.html'")