div(ng-include="'app/views/base.html'")
div(id="all")
  div(id="content")
    .container
      .col-md-3
        .panel.panel-default.sidebar-menu
          .panel-heading
            h3.panel-title Area do cliente
          .panel-body
            ul.nav.nav-pills.nav-stacked
              li.active
                a(ui-sref="myAccount")
                  i.fa.fa-list
                  |  Meus pedidos
              li
                a(ui-sref="myAddress")
                  i.fa.fa-heart
                  |  Meus endereços

      .col-md-9
        .box
          h1 Meus Pedidos
          .table-responsive
            p.lead(ng-if='orderCtrl.hasOrders == false') Não encontramos nenhum pedido
            table.table.table-hover(ng-if='orderCtrl.hasOrders == true')
              thead
                tr
                  th Pedido
                  th Data
                  th Total
                  th Status
                  th Ação
              tbody
                tr(ng-repeat="order in orderCtrl.orderList")
                  th # {{order.id}}
                  td {{orderCtrl.getDate(order.order_time)}}
                  td R$ {{order.price}}
                  td(ng-if='order.state == 1')
                    span.label.label-info Pendente
                  td(ng-if='order.state == 2')
                    span.label.label-info Processando
                  td(ng-if='order.state == 3')
                    span.label.label-info Entregue
                  td(ng-if='order.state == 4')
                    span.label.label-info Cancelado
                  td
                    a.btn.btn-primary.btn-sm(ui-sref='customer-order.html') visualizar


div(ng-include="'app/views/footer.html'")