.col-md-3
  .panel.panel-default.sidebar-menu
    .panel-heading
      h3.panel-title Area do cliente
    .panel-body
      ul.nav.nav-pills.nav-stacked
        li.active
          a(ui-sref="myAccount")
            i.fa.fa-list
            |  Minha conta
        li
          a(ui-sref="myAddress")
            i.fa.fa-heart
            |  Meus endereços
        li
          a(href='index.html')
            i.fa.fa-sign-out
            |  Logout
